export (canocov, cen, clrmat, tr, largest.kappas, lrpca)
import (calibrate)
importFrom("stats", "cor", "cov")
importFrom("MASS", "ginv")
importFrom("utils", "combn")
importFrom("robCompositions", "ternaryDiag")