export (canocov, cen, clrmat, tr, largest.kappas, lrcco, lrlda, lrpca, ternaryplot)
import (calibrate)
import (MASS)
import (Correlplot)
importFrom("stats", "aggregate", "cor", "cov", "var", "dnorm")
importFrom("utils", "combn")
importFrom("graphics", "par", "points", "polygon", "segments", "text")
